@charset "UTF-8";

/* Typical decive Breakpoints
 telas pequenas: 200px-319px
 celular: 320px-480px
 tablets: 481px-768px
 leptos: 769px 1024px
 desltops: 1025px-1200
 telas extra grandes, tv: 1201px para mais */

 @media screen and (min-width: 481px) and (max-width: 768px) {


    div{
        display: inline-block;
        height: 350px;
        margin-left: -5px;
    }

    p#txta{
        text-align: left;
        max-width: 650px;
        padding: 10px;
        float: left;
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
            
    }
    
 }

 @media screen and (min-width: 769px) and (max-width: 1024px) {

    article#art{
       margin-left: 15px;
    }

    div{
        width: 7%;
        display: inline-block;
        height: 490px;
        margin-left: -5px;
    }

    img#capa{
        display: none;
        width: 350px;
        height: 350px;
        margin: auto;
    }

 }

 @media screen and (min-width: 1025px) and (max-width: 1200px) {

    article#art{
        justify-content: center;
        margin-left: 10px;

    }

    div{
        display: inline-block;
        width: 6%;
        height: 500px;
        margin-left: -5px;
    }

    img#capa{
        display: none;
        width: 350px;
        height: 350px;
        margin: auto;
    }

 }
 @media screen and (min-width: 1201px) {

    
    article#art{
        margin-left: 0px;
        display: block;
        margin: auto;
    }
    
    div{
        display: inline-block;
        width: 6.9%;
        height: 530px;
        margin-left: -5px;
        color: rgb(136, 65, 65);
    }

    p#txta{
        display: block;
        padding-top: 10px;
        text-align: left;
    }

    img#capa{
        display: none;
        width: 350px;
        height: 350px;
        margin: auto;
        border-radius: 5px;
    }
 }

