@charset "UTF-8";

/* Typical decive Breakpoints
 telas pequenas: 200px-319px
 celular: 320px-480px
 tablets: 481px-768px
 leptos: 769px 1024px
 desltops: 1025px-1200
 telas extra grandes, tv: 1201px para mais */

 @media screen and (min-width: 481px) and (max-width: 768px) {
    
 }

 @media screen and (min-width: 769px) and (max-width: 1024px) {

 }

 @media screen and (min-width: 1025px) and (max-width: 1200px) {
    div{
        display: inline-block;
        width: 90px;
        height: 500px;
        margin-left: -5px;
    }
 }
 @media screen and (min-width: 1201px) {
    div{
        display: inline-block;
        width: 90px;
        height: 530px;
        margin-left: -5px;
    }
 }

