@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: white;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
}

h1{
    padding-bottom: 10px;
}

span#ham{
    display: block;
    cursor: pointer;
}

menu{
    display: none;
}

li{
    display: block;
    padding: 10px;
    font-family: 'Confortaa', sans-serif;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
    transition: 0.3s;
}

article#art{
    display: block;
    margin: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 106px;
    width: 100%;
}

section#all {
    display: flex;
    width: 100%;
}


div.album-capa{
    display: inline-block;
    height: 300px;
    overflow: hidden; 
    margin-bottom: -4px;
    width: 100%;
}


div#debut{
   background-image: url(img/debut.jpg);
   background-position: left;
   background-size: cover;
}

div#fearless{
    background-image: url(img/fearless.jpg);
    background-position: center;
    background-size: cover;
}

div#spn{
    background-image: url(img/speakNow.jpg);
   background-position: center;
   background-size: cover;
}

div#red{
    background-image: url(img/red.jpg);
   background-position: center;
   background-size: cover;
    
}

div#nine{
    background-image: url(img/nine.jpg);
   background-position: center;
   background-size: cover;
 
}

div#rep{
    background-image: url(img/reputation.jpeg);
   background-position: center;
   background-size: cover;
  
}

div#lover{
    background-image: url(img/lover.jpg);
   background-position: center;
   background-size: cover;
 
}

div#folk{
    background-image: url(img/folklore.png);
   background-position: center;
   background-size: cover;
 
}

div#evermore{
    background-image: url(img/evermore.jpg);
   background-position: center;
   background-size: cover;
 
}

div#midnights{
    background-image: url(img/midnights.jpg);
   background-position: center;
   background-size: cover;
 
}

div#ttpd{
    background-image: url(img/ttpd\ \(2\).jpg);
   background-position: center;
   background-size: cover;

}

article#mv{
    height: 1050px;
    padding-top: 10px;
}

p#txta{
    text-align: center;
    max-width: 550px;
    padding: 10px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding-bottom: 10px;
        
}

div#capa{
    display: none;
    width: 68%;
    height: 29.5%;
    margin: auto;
    margin-top: 20px;
    background-size: cover;
    padding-top: 20px;
    border-radius: 10px;
    
}
