@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header > h1{
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    color: rgb(43, 43, 43);
    margin-bottom: 20px;
    font-size: 1.4em;
    text-align: center;
    padding-top: 25px;

}

h2#music{
    display: block;
    margin: auto;
    padding: 13px;
    width: 30%;
    margin-top: -20px;
    margin-bottom: 40px;
}

article{
    margin-left: 8px;
}

div{
    width: 98px;
    max-width: 390px;
    height: 400px;
    overflow: hidden; 
    max-height: 400px;
}

img{
    width: 400px;
    height: 400px;
    max-width: 380px;
    position: relative;
}

div#debut > img{
   
}

div#fearless{

}

div#spn{

}

div#red{
    
}

div#nine{
 
}

div#rep{
  
}

div#lover{
 
}

div#folk{
 
}

div#ever{
 
}

div#mid{
 
}

div#ttpd{

}

